.s-ege{
	margin-left:1050px;
	margin-top:-73px;
	color:white;
	font-family:Bowlby One SC;
	font-weight:bolder;

}
.s-egx{
	margin-left:1070px;
	margin-top:-70px;
	color:white;
	font-family:Bowlby One SC;

}
.s-egg{
	color:white;
	font-size:15px;
	font-weight:lighter;
	margin-left:1053px;
	margin-top:-40px;

}